#content,
.formWrapper {
  width: 768px;
  min-height: 100px;
  margin: 0 auto;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  display: flex;
  flex-flow: column;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: SaddleBrown;
}

.todo {
  padding: 15px;
  border-radius: 8px;
  border: 3px solid #edf4f8;
  margin-bottom: 10px;
  position: relative;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}

h2 {
  margin: 5px 0;
  color: #3b4245;
}

.textcolor {
  color: #626e74;
}

.formWrapper {
  width: 744px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: lavenderblush;
}

#form {
  display: flex;
  flex-flow: row wrap;
}

#form > * {
  width: 45%;
  margin-bottom: 10px;
}

#form button {
  margin: 0 auto;
}